@charset "UTF-8";
.header .bluesection .navbar-item.blueHover .ourcategoriesdrop, .header .bluesection .submenu ul {
  display: none;
  position: absolute;
  background: white;
  box-shadow: 1px 1px #e6e6e6;
  width: 100%;
}

.header .bluesection .submenuHover .homemegadropdown, .header .bluesection .submenuHover .megamenudropdown {
  display: none;
  background: white;
  padding-top: 25px;
  position: absolute;
  width: 1140px;
  height: 500px;
  overflow: auto;
}

.welcome .navbar-item, .header .bluesection .submenuHover .megamenudropdown .navbar-item {
  padding: 0 10px;
  position: relative;
}
.welcome .navbar-item::after, .header .bluesection .submenuHover .megamenudropdown .navbar-item::after {
  content: "";
  position: absolute;
  right: 0;
  z-index: 100;
  top: 25%;
  width: 1px;
  height: 50%;
  background: #dadada;
}

.header .shoppingbag .bagcircle .fa-shopping-bag,
.header .shoppingbag .bagcircle .fa-opencart, .animation .col-md-4 .row .firstrowtext, .animation .col-md-4 .row .secondrowtext {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

a {
  text-decoration: none !important;
  color: black;
}
a:hover {
  color: #08c;
}

ul {
  list-style-type: none;
}

p {
  margin: 0;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container {
  padding: 0;
}

.clear {
  clear: both;
}

.slick-prev,
.slick-next {
  position: absolute;
  border: 1px solid #e6e6e6;
  top: -40px;
  height: 30px;
  width: 30px;
  border-radius: 5px;
}
.slick-prev::before,
.slick-next::before {
  color: gray;
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
}
.slick-prev:hover,
.slick-next:hover {
  background: #08c;
}
.slick-prev:hover::before,
.slick-next:hover::before {
  color: white;
}

.slick-next {
  right: 10px;
}
.slick-next::before {
  content: '\f054';
}

.slick-prev {
  right: 45px;
}
.slick-prev::before {
  content: "";
}

.product {
  position: relative;
  float: left;
  width: 220px;
  height: 340px;
  border: 1px solid #e6e6e6;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 15px;
  background: white;
}
.product p {
  margin-bottom: 6px;
}
.product .productimg {
  position: relative;
  height: 188px;
}
.product .productimg span {
  position: absolute;
  color: white;
  padding: 7px 11px;
  font-weight: bold;
}
.product .productimg span.discount {
  background: red;
}
.product .productimg span.new {
  background: #08c;
}
.product .productcategory {
  color: gray;
}
.product .productname {
  color: #08c;
  font-size: 16px;
  height: 45px;
}
.product .stars .fa-star {
  color: gold;
}
.product .stars span {
  margin-left: 8px;
  color: red;
}
.product .productprice,
.product .oldprice {
  display: inline-block;
  font-size: 16px;
  margin-top: 10px;
}
.product .productprice {
  font-weight: bold;
}
.product .oldprice {
  color: silver;
  margin-left: 10px;
  text-decoration: line-through;
}
.product .buyproduct {
  position: absolute;
  cursor: pointer;
  width: 35px;
  height: 35px;
  bottom: 5px;
  right: 5px;
  background: #e6e6e6;
  border-radius: 100%;
  transition: 0.6s;
}
.product .buyproduct .fa-shopping-cart {
  color: gray;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.product .buyproduct:hover {
  background: #08c;
}
.product .buyproduct:hover .fa-shopping-cart {
  color: white;
}
.product::after {
  content: '';
  display: block;
  clear: both;
}

.welcome {
  padding: 5px 0;
  background: #f8f8f8;
}
.welcome .navbar-item .dropdown-menu {
  z-index: 10;
}
.welcome .socialmedia * {
  margin: 0 3px;
}

.header {
  padding-top: 50px;
}
.header .input-group {
  position: relative;
}
.header .input-group .input-group-btn:first-child > .btn {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  margin-right: -2px;
  outline: none;
}
.header .input-group .form-control:not(:first-child):not(:last-child) {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}
.header .input-group .btn-default:last-child {
  background: #e6e6e6;
  border-radius: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 40px;
  width: 40px;
  right: 10px;
  z-index: 9;
  outline: none;
}
.header .input-group .btn-default:last-child svg {
  position: absolute;
  top: 50%;
  height: 50%;
  transform: translate(-50%, -50%);
}
.header .shoppingbag {
  position: relative;
  cursor: pointer;
}
.header .shoppingbag:hover .mycard {
  display: block;
}
.header .shoppingbag .bagcircle {
  display: inline-block;
  background: #e6e6e6;
  height: 46px;
  width: 46px;
  border-radius: 100%;
  position: relative;
}
.header .shoppingbag .bagcircle .fa-shopping-bag,
.header .shoppingbag .bagcircle .fa-opencart {
  display: block;
}
.header .shoppingbag .bagcircle span {
  position: absolute;
  border-radius: 100%;
  right: -5px;
  height: 20px;
  width: 20px;
  line-height: 20px;
  text-align: center;
  background: #08c;
  color: white;
}
.header .shoppingbag .bagcontent {
  display: inline-block;
  margin-left: 10px;
}
.header .shoppingbag .bagcontent h4 {
  margin-bottom: 5px;
}
.header .shoppingbag .bagcontent h5 {
  margin-top: 0;
}
.header .shoppingbag .mycard {
  background: white;
  display: none;
  position: absolute;
  min-height: 265px;
  min-width: 246px;
  top: 50px;
  left: 0;
  z-index: 9999;
  padding: 15px;
  box-shadow: 2px 2px 10px #e6e6e6;
}
.header .shoppingbag .mycard .col-md-4,
.header .shoppingbag .mycard .col-md-8 {
  height: 60px;
  margin-bottom: 25px;
}
.header .shoppingbag .mycard .col-md-8 p:last-child {
  font-weight: 600;
}
.header .shoppingbag .mycard .btn {
  display: block;
  margin: 0 15px;
  border-radius: 50px;
  background: #08c;
}
.header .bluesection {
  margin-top: 30px;
  background: #08c;
  font-size: 18px;
}
.header .bluesection .navbarwrapper .navbar-nav {
  width: 100%;
}
.header .bluesection .zindex {
  z-index: 100;
}
.header .bluesection .navbar-item.blueHover {
  position: relative;
}
.header .bluesection .navbar-item.blueHover > a {
  color: white;
  display: block;
  padding: 13px;
  background-image: linear-gradient(to left, transparent, transparent 50%, #0077b2 50%, #0077b2);
  background-position: 100% 0;
  background-size: 200% 100%;
  transition: all .25s ease-in;
}
.header .bluesection .navbar-item.blueHover > a:hover:not(.withouthover) {
  background-position: 0 0;
}
.header .bluesection .navbar-item.blueHover:first-child > a {
  padding-right: 70px;
}
.header .bluesection .navbar-item.blueHover:last-child {
  font-size: 15px;
}
.header .bluesection .navbar-item.blueHover .ourcategoriesdrop li {
  padding: 12px;
}
.header .bluesection .navbar-item.blueHover .ourcategoriesdrop li a {
  display: block;
  font-size: 13px;
  font-weight: 500;
}
.header .bluesection .submenuHover {
  position: relative;
}
.header .bluesection .submenuHover .homemegadropdown {
  left: -225px;
  box-shadow: 1px 1px 1px #e6e6e6;
}
.header .bluesection .submenuHover .homemegadropdown .col-md-2 {
  position: relative;
  height: 200px;
  text-align: center;
  margin-bottom: 25px;
  cursor: pointer;
}
.header .bluesection .submenuHover .homemegadropdown .col-md-2 img {
  height: 77%;
  border: 1px solid #e6e6e6;
}
.header .bluesection .submenuHover .homemegadropdown .col-md-2:hover img {
  box-shadow: 3px 3px #08c;
}
.header .bluesection .submenuHover .homemegadropdown .col-md-2:hover h4 {
  color: #08c;
}
.header .bluesection .submenuHover .megamenudropdown {
  height: 450px;
  left: -400px;
}
.header .bluesection .submenuHover .megamenudropdown .navbar-item {
  font-size: 16px;
}
.header .bluesection .submenuHover .megamenudropdown .allelectronics {
  padding-left: 10px;
  font-size: 16px;
  text-decoration: underline !important;
  color: gray;
}
.header .bluesection .submenuHover .megamenudropdown .col-md-3 .electronics {
  padding-left: 10px;
}
.header .bluesection .submenuHover .megamenudropdown .col-md-3 li {
  font-size: 16px;
  padding: 5px 0;
}
.header .bluesection .submenuHover .megamenudropdown .col-md-3 li a {
  color: gray;
}
.header .bluesection .submenuHover .megamenudropdown .col-md-3 li.listheader {
  font-size: 18px;
  padding-bottom: 15px;
}
.header .bluesection .submenuHover .megamenudropdown .col-md-3 li.listheader a {
  color: black;
}
.header .bluesection .submenu {
  position: relative;
}
.header .bluesection .submenu ul li {
  background-image: linear-gradient(to left, transparent, transparent 50%, #0077b2 50%, #0077b2);
  background-position: 100% 0;
  background-size: 200% 100%;
  transition: all .10s ease-in;
}
.header .bluesection .submenu ul li:hover:not(.withouthover) {
  background-position: 0 0;
}
.header .bluesection .submenu ul li:hover:not(.withouthover) > a {
  color: white;
  display: block;
}
.header .bluesection .submenu ul.ourcategoriessubmenucontent {
  top: 0;
  right: -100%;
}
.header .bluesection .submenu ul.levelcontent {
  right: -100%;
  top: 10%;
  padding: 3px;
}
.header .bluesection .submenu ul.pagesblogsubmenucontent {
  width: 250px;
}
.header .bluesection .submenu ul.pagesblogsubmenucontent li {
  padding: 6px 0;
}
.header .bluesection .submenu ul.pagesblogsubmenucontent li a {
  margin-left: 15px;
  font-size: 15px;
}

.animation .col-md-8,
.animation .col-md-4 {
  height: 500px;
  padding: 0;
}
.animation .col-md-8 span {
  color: black;
}
.animation .col-md-4 .row {
  position: relative;
  height: 50%;
}
.animation .col-md-4 .row .firstrowtext {
  width: 100%;
  padding-left: 20px;
}
.animation .col-md-4 .row .firstrowtext h2, .animation .col-md-4 .row .firstrowtext h3 {
  margin-top: 0;
}
.animation .col-md-4 .row .firstrowtext h2 {
  font-weight: 600;
  color: #08c;
}
.animation .col-md-4 .row .firstrowtext h3:first-child {
  color: gray;
}
.animation .col-md-4 .row .firstrowtext h3:last-child {
  font-weight: 600;
}
.animation .col-md-4 .row .secondrowtext h2 {
  font-weight: 600;
}
.animation .col-md-4 .row .secondrowtext h2 span {
  color: white;
}
.animation .col-md-4 .row .secondrowtext h4 {
  font-size: 20px;
  text-align: center;
  color: #99ddff;
}
.animation .col-md-4 .row .secondrowtext a {
  display: block;
  width: 80%;
  margin: 0 auto;
  border-radius: 30px;
}

.fourdivs {
  padding: 50px 0;
}
.fourdivs .container {
  border: 1px solid #e6e6e6;
}
.fourdivs .container > .col-md-3 {
  border-right: 1px solid #e6e6e6;
  height: 130px;
  padding: 0 10px;
}
.fourdivs .container > .col-md-3 .icon {
  line-height: 130px;
  color: #08c;
}
.fourdivs .container > .col-md-3 .col-md-9 {
  padding-top: 30px;
}
.fourdivs .container > .col-md-3 .col-md-9 h4 {
  margin-bottom: 5px;
  font-weight: bold;
}
.fourdivs .container > .col-md-3 .col-md-9 h5 {
  margin-top: 0;
  color: gray;
  font-size: 13px;
}

.tabs {
  padding-bottom: 50px;
}
.tabs .nav-tabs > li.active a {
  background: #08c;
  color: white;
}
.tabs .nav-tabs > li a {
  font-size: 18px;
}
.tabs .tab-content {
  padding: 20px 0;
}

.topselling {
  background: #fafafa;
  padding: 50px 0;
}
.topselling .container > h3 {
  font-weight: bold;
}
.topselling hr {
  position: relative;
  margin-top: 0;
  border-top: 1px solid gray;
}
.topselling .watch {
  float: left;
  width: 451px;
  height: 340px;
  margin-bottom: 10px;
  margin-right: 12px;
  position: relative;
}
.topselling .watch .watchtext {
  position: absolute;
  padding-left: 15px;
  width: 55%;
  top: 50%;
  transform: translateY(-50%);
}
.topselling .watch .watchtext h5:nth-child(2) {
  font-size: 16px;
  color: gray;
}
.topselling .watch .watchtext h5:nth-child(3) {
  color: silver;
}
.topselling .watch .watchtext .btn-primary {
  background: #08c;
  border-radius: 30px;
}
.topselling .watch .watchtext .btn-primary:hover {
  border: 1px solid #8a5230;
  background: #925632 !important;
}
.topselling .watch::after {
  content: '';
  display: block;
  clear: both;
}

.secondtabs {
  padding: 50px 0;
}
.secondtabs .container ul.nav-justified {
  border: 1px solid #e6e6e6;
}
.secondtabs .container ul.nav-justified li:not(:last-child):not(:first-child) {
  width: 195px;
}
.secondtabs .container ul.nav-justified li:first-child, .secondtabs .container ul.nav-justified li:last-child {
  width: 194px;
}
.secondtabs .container ul.nav-justified li:not(:last-child) {
  border-right: 1px solid #e6e6e6;
}
.secondtabs .container ul.nav-justified li.active {
  background: #08c;
}
.secondtabs .container ul.nav-justified li.active a {
  background: transparent;
  position: relative;
}
.secondtabs .container ul.nav-justified li.active a svg, .secondtabs .container ul.nav-justified li.active a h4, .secondtabs .container ul.nav-justified li.active a p {
  color: white;
}
.secondtabs .container ul.nav-justified li.active a::before {
  content: "\f0d7";
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  font-size: 40px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -40px;
  color: #08c;
}
.secondtabs .container ul.nav-justified li a {
  margin: 8px;
}
.secondtabs .container ul.nav-justified li a:hover {
  background: transparent;
}
.secondtabs .container ul.nav-justified li a svg, .secondtabs .container ul.nav-justified li a p {
  color: gray;
}
.secondtabs .container .tab-content {
  padding: 30px 0;
}
.secondtabs .slick-dots li button::before {
  font-size: 60px;
  color: #08c;
}

.fromourblog {
  padding: 50px 0;
}
.fromourblog .container h3 {
  font-weight: bold;
}
.fromourblog .container hr {
  margin-top: 0;
  border-top: 1px solid gray;
}
.fromourblog .container .postwrapper .col-md-4 .comment {
  padding-top: 5px;
}
.fromourblog .container .postwrapper .col-md-4 .comment a {
  color: gray;
}
.fromourblog .container .postwrapper .col-md-4 .comment a:first-child {
  margin-right: 40px;
}
.fromourblog .container .postwrapper .col-md-4 .comment svg {
  margin-right: 10px;
}
.fromourblog .container .postwrapper .col-md-4 h3 {
  font-size: 20px;
  height: 44px;
}
.fromourblog .container .postwrapper .col-md-4 a {
  display: inline-block;
  color: #08c;
  margin-top: 10px;
}

.footer .support {
  background: #fafafa;
}
.footer .support .container .supportelement {
  float: left;
  width: 20%;
}
.footer .support .container .supportelement img {
  padding: 20px;
  opacity: 0.7;
  transition: 0.5s;
}
.footer .support .container .supportelement img:hover {
  opacity: 1;
}
.footer .newslatter {
  background: #08c;
  padding: 50px 0;
}
.footer .newslatter .container {
  position: relative;
  height: 100px;
}
.footer .newslatter .container .col-md-7,
.footer .newslatter .container .col-md-5 {
  padding: 0;
}
.footer .newslatter .container .col-md-7 {
  line-height: 100px;
}
.footer .newslatter .container .col-md-7 h2, .footer .newslatter .container .col-md-7 h3 {
  color: white;
  display: inline-block;
}
.footer .newslatter .container .col-md-7 h2 {
  padding-right: 13px;
}
.footer .newslatter .container .col-md-7 h3 {
  padding-left: 13px;
  border-left: 1px solid white;
}
.footer .newslatter .container .col-md-5 {
  padding-top: 25px;
}
.footer .newslatter .container .col-md-5 button {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  background: #005580;
  border: 1px solid #005580;
  color: white;
}
.footer .newslatter .container .col-md-5 input {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}
.footer .newslatter .container::before {
  content: "";
  background: url("images/env-icon.png");
  position: absolute;
  top: -60px;
  left: 25%;
  height: 216px;
  width: 302px;
  background-repeat: no-repeat;
  background-size: cover;
}
.footer .navbar .container {
  border-bottom: 1px solid #e6e6e6;
}
.footer .navbar .container a {
  color: gray;
}
.footer .navbar .container a:hover {
  background: none;
}
.footer .megafooter .container {
  padding: 50px 0;
}
.footer .megafooter .container .col-md-3 li {
  padding-bottom: 5px;
}
.footer .megafooter .container .col-md-3 li:first-child {
  padding-bottom: 15px;
}
.footer .megafooter .container .col-md-3 li a.socialmedia {
  font-size: 16px;
  margin-right: 15px;
  transition: 0.6s;
}
.footer .megafooter .container .col-md-3 li a:not(.socialmedia) {
  transition: 0.3s;
}
.footer .megafooter .container .col-md-3 li a:not(.socialmedia):hover {
  padding-left: 10px;
  color: black;
}
.footer .copyright {
  background: #fafafa;
}
.footer .copyright .container h5 {
  font-size: 16px;
  padding: 15px 0;
}
.footer .copyright .container span {
  color: #08c;
}
.footer .copyright .container img {
  padding-top: 15px;
  width: auto;
  height: auto;
}

.gotop {
  cursor: pointer;
  display: none;
  position: fixed;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  border: 2px solid #9a9a9a;
  border-radius: 100%;
  bottom: 20px;
  right: 20px;
  z-index: 5;
  opacity: 0.7;
  text-align: center;
  transition: 0.6s;
}
.gotop:hover {
  opacity: 1;
  background: #9a9a9a;
}
.gotop:hover .fa-chevron-up {
  color: white;
}
.gotop .fa-chevron-up {
  color: #9a9a9a;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.breadcrumbwrapper .breadcrumb {
  margin: 0;
  background: none;
  border-bottom: 1px solid #e6e6e6;
}

.iphone {
  padding: 50px 0;
}
.iphone .container {
  position: relative;
  height: 500px;
}
.iphone .container .aboutaddstext {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
}
.iphone .container .aboutaddstext h1, .iphone .container .aboutaddstext h3 {
  margin: 0;
}
.iphone .container .aboutaddstext h1 {
  font-size: 40px;
  font-weight: 900;
}
.iphone .container .aboutaddstext h3 {
  color: gray;
}
.iphone .container .aboutaddstext .btn {
  margin-top: 30px;
  background: #08c;
  border-radius: 30px;
  transition: 0.6s;
}
.iphone .container .aboutaddstext .btn:hover {
  background: #333;
}

.progressbarwrapper {
  padding: 50px 0;
}
.progressbarwrapper .row {
  margin: 0;
}
.progressbarwrapper .col-md-2 p {
  font-size: 20px;
  font-weight: bold;
}
.progressbarwrapper .progressbar {
  margin-top: 10px;
}

.ourteam {
  padding: 50px 0;
}
.ourteam .col-md-3 {
  padding: 15px;
}
.ourteam .col-md-3 .memberphoto {
  height: 300px;
}

/*# sourceMappingURL=style.css.map */
