$mainColor: #08c;
$DarkBlue: #0077b2;
$mainPadding: 50px 0;
$mainGray: #e6e6e6;

%dropmenu{
    display: none;    
    position: absolute;
    background: white;
    box-shadow: 1px 1px $mainGray;
    width: 100%;
}

%megamenu{
    display: none;
    background: white;
    padding-top: 25px;
    position: absolute;
    width: 1140px;
    height: 500px;
    overflow: auto;
}

%halfborder{
    padding: 0 10px;
    position: relative;

    &::after{
        content : "";
        position: absolute;
        right    : 0;
        z-index: 100;
        top  : 25%;
        width  : 1px;
        height   : 50%;
        background: rgb(218, 218, 218); 
    }
}

%center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;      
}

a{
    text-decoration: none !important;
    color: black;

    &:hover{
        color: $mainColor;
    }
}
ul{
    list-style-type: none;
}
p{
    margin: 0;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

// WELCOME PART START HERE
.welcome{
    padding: 5px 0;
    background: rgb(248, 248, 248);

    .navbar-item{
        @extend %halfborder;
    }

    .socialmedia{
       *{
           margin: 0 3px;
       }
    }
}
// WELCOME PART END HERE

// ***** HEADER START HERE
.header{
    padding-top: 50px;

    .input-group{
        position: relative;

        .input-group-btn:first-child > .btn{
            border-top-left-radius: 50px;
            border-bottom-left-radius: 50px; 
            margin-right: -2px;   
            outline: none;        
        }
        .form-control:not(:first-child):not(:last-child){
            border-top-right-radius: 30px;
            border-bottom-right-radius: 30px;        
        }

        .btn-default:last-child{
            border-radius: 100%;
            position: absolute;
            top: 0;
            right: 13px;
            z-index: 99999;
            outline: none;
        }
    }

    .shoppingbag{
        position: relative;
        cursor: pointer;

        &:hover{
            .mycard{
                display: block;
            }
        }
        .bagcircle{
            display: inline-block;
            background: $mainGray;
            height: 46px;
            width: 46px;
            border-radius: 100%;
            position: relative;

            .fa-shopping-bag,
            .fa-opencart{
                display: block;
                @extend %center;
            }
            span{
                position: absolute;
                border-radius: 100%;
                right: -5px;
                height: 20px;
                width: 20px;
                line-height: 20px;    
                text-align: center;                            
                background: $mainColor;
                color: white;
            }
        }

        .bagcontent{
            display: inline-block;
            margin-left: 10px;

            h4{
                margin-bottom: 5px;
            }
            h5{
                margin-top: 0;
            }
        }

        .mycard{
            background: white;
            display: none;
            position: absolute;
            min-height: 265px;
            min-width: 246px;
            top: 50px;
            left: 0;
            z-index: 9999;
            padding: 15px;
            box-shadow: 2px 2px 10px $mainGray;

            .col-md-4,
            .col-md-8{
                height: 60px;
                margin-bottom: 25px;
            }

            .col-md-8{
                p:last-child{
                    font-weight: 600;
                }
            }

            .btn{
                display: block;
                margin: 0 15px;
                border-radius: 50px;
                background: $mainColor;
            }
        }
    }
    // BRAND, SEARCH, MY CARD END HERE
    // ****BLUE SECTION START HERE
    .bluesection{
        margin-top: 30px;
        background: $mainColor;
        font-size: 18px;

        .navbarwrapper .navbar-nav{
            width: 100%;
        }

        .zindex{
            z-index: 100;
        }

        .navbar-item.blueHover{
            position: relative;

            & > a{
                color: white;
                display: block;
                padding: 13px;
                background-image: linear-gradient(to left, transparent, transparent 50%, $DarkBlue 50%, $DarkBlue);            
                background-position: 100% 0;
                background-size: 200% 100%;
                transition: all .25s ease-in;
    
                &:hover:not(.withouthover){
                   background-position: 0 0;
                }
            }

            &:first-child > a{
                padding-right: 70px;
            }

            &:last-child{
                font-size: 15px;
            }

            .ourcategoriesdrop{
                @extend %dropmenu;

                li{
                    padding: 12px;

                    a{
                        display: block;
                        font-size: 13px;
                        font-weight: 500;
                    }
                }
            }

        }

        .submenuHover{
            position: relative;

            // *****HOME CONTENT
            .homemegadropdown{
                @extend %megamenu;
                left: -225px;                
    
                .col-md-2{
                    position: relative;
                    height: 200px;
                    text-align: center;
                    margin-bottom: 25px;
                    cursor: pointer;

                    img{
                        height: 77%;
                        border: 1px solid $mainGray;
                    }

                    &:hover{
                        img{
                            box-shadow: 3px 3px $mainColor;
                        }
                        h4{
                            color: $mainColor;
                        }
                    }
                    
                }
            }
            // *****HOME CONTENT END
            // *****MEGA MENU CONTENT
            .megamenudropdown{
                @extend %megamenu;
                height: 450px;
                left: -400px;

                .navbar-item{
                    @extend %halfborder;
                    font-size: 16px;
                }

                .allelectronics{
                   padding-left: 10px;
                   font-size: 16px;
                   text-decoration: underline !important;
                   color: gray;
                }

                .col-md-3{
                    .electronics{
                        padding-left: 10px;
                    }
                    li{
                        font-size: 16px;
                        padding: 5px 0;

                        a{
                            color: gray;
                        }

                        &.listheader{
                            font-size: 18px;
                            padding-bottom: 15px;
                            a{color: black}
                        }
                    }
                }
            }
            // ******MEGA MENU END
        }

        .submenu{
            position: relative;

            ul{
                @extend %dropmenu;

                li{
                    background-image: linear-gradient(to left, transparent, transparent 50%, $DarkBlue 50%, $DarkBlue);            
                    background-position: 100% 0;
                    background-size: 200% 100%;
                    transition: all .10s ease-in;
        
                    &:hover:not(.withouthover){
                       background-position: 0 0;

                       & > a{
                           color: white;
                           display: block;                           
                       }
                    }
                }

                &.ourcategoriessubmenucontent{
                    top: 0;
                    right: -100%;
                }

                &.levelcontent{
                    right: -100%;
                    top: 10%;
                    padding: 3px;
                }

                &.pagesblogsubmenucontent{
                    width: 250px;

                    li{
                        padding: 6px 0;

                        a{
                            margin-left: 15px;
                            font-size: 15px;
                        }
                    }
                }
            }
        }
    }
}
// ****** HEADER END HERE
// ****** ANIMATION AND WEEKLY SALE START HERE
.animation{
    .col-md-8,
    .col-md-4{
        height: 500px;
        padding: 0;
    }

    .col-md-8{
        // background: red;

        span{
            color: black;
        }
    }

    .col-md-4{
        .row{
            position: relative;
            height: 50%;

            .firstrowtext{
                @extend %center;
                width: 100%;
                padding-left: 20px;

                h2,h3{
                    margin-top: 0;
                }

                h2{
                    font-weight: 600;
                    color: $mainColor;
                }

                h3:first-child{
                    color: gray;
                }

                h3:last-child{
                    font-weight: 600;
                }
            }

            .secondrowtext{
                @extend %center;

                h2{
                    font-weight: 600;
                    span{
                        color: white;
                    }
                }

                h4{
                    font-size: 20px;
                    text-align: center;
                    color: lighten($mainColor, 40%)
                }

                a{
                    display: block;
                    width: 80%;
                    margin: 0 auto;
                    border-radius: 30px;
                }
            }
        }
    }
}
// ****** ANIMATION AND WEEKLY SALE START HERE
