@{
    ViewBag.Title = "Error - Smart Tech";
}

<!-- CHECKOUT SUCCESSFUL PAGE START HERE -->
<div class="successfulpage">
    <!-- <div class="svgcircle">
        <i class="fas fa-2x fa-exclamation"></i>
    </div> -->
    <div class="errorpic">
        <img src="~/Public/images/error-img.jpg" alt="">
    </div>
    <div class="successtext">
        <h2>
            Error
            <span>404</span> Not Found
        </h2>
        <p>
            We’re sorry but the page you are looking for does nor exist. You could return to
            <a href="index.html">homepage</a> or using
            <label for="SEO">search!</label>
        </p>
    </div>
</div>
<!-- CHECKOUT SUCCESSFUL PAGE END HERE -->