@{
    ViewBag.Title = "Successful - Smart Tech";
}

<!-- CHECKOUT SUCCESSFUL PAGE START HERE -->
<div class="successfulpage">
    <div class="svgcircle">
        <i class="fas fa-2x fa-check"></i>
    </div>
    <div class="successtext">
        <h3>Congratulation! Your order has been processed</h3>
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facilis quod dolorum nemo vitae maxime animi, obcaecati
            quo dolorem, quos doloremque, unde quae voluptates? Nisi!
        </p>
        <a href="@Url.Action("Product3")" class="btn btn-primary btn-lg">Return to Shop</a>
    </div>
</div>
<!-- CHECKOUT SUCCESSFUL PAGE END HERE -->