@{
    ViewBag.Title = "Contact - Smart Tech";
}

<!-- BREADCRUMB START HERE -->
<div class="breadcrumbwrapper">
    <div class="container">
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index")">Home</a>
            </li>
            <li class="active">Contact</li>
        </ol>
    </div>
</div>
<!-- BREADCRUMB END HERE -->
<!-- GOOGLE MAP START HERE -->
<div class="contact">
    <div class="container">
        <div class="mapwrapper">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3039.6963198084877!2d49.835941389906026!3d40.37125748153416!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x985746dbf419b5d!2sCentral+Baku!5e0!3m2!1sen!2s!4v1521988444184"
                    frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
        <div class="contacttext">
            <div class="col-md-9">
                <h3>Do you have a Question for Us?</h3>
                <div class="col-md-6">
                    <label for="firstname">First Name</label>
                    <input type="text">
                </div>
                <div class="col-md-6">
                    <label for="lastname">Last Name</label>
                    <input type="text">
                </div>
                <div class="col-md-12">
                    <label for="message">Message</label>
                    <textarea id="message" cols="30" rows="10"></textarea>
                </div>
                <a href="#" class="btn btn-primary">Send Message</a>
            </div>
            <div class="col-md-3">
                <h4>SmartTech</h4>
                <p>The most powerful PSD for Digital & Electronic!</p>
                <hr>
                <h4>Address:</h4>
                <p>45 Grand Central Terminal New York, NY 1017 United State USA</p>
                <h4>Phone:</h4>
                <p>(+100) 123 456 7890</p>
                <p>(+100) 987 654 3210</p>
                <h4>Email:</h4>
                <p>Support@smarttech.com </p>
                <p>Support24/7@smarttech.com</p>
            </div>
        </div>
    </div>
</div>
<!-- GOOGLE MAP END HERE -->