<div class="col-md-3 blogsidebar">
    <!-- SEARCH SECTION -->
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Search here">
        <span class="input-group-btn">
            <button class="btn btn-primary" type="button">
                <i class="fab fa-sistrix"></i>
            </button>
        </span>
    </div>

    <!-- CATEGORIES SECTION -->
    <div class="categorieswrapper">
        <h4>Categories</h4>
        <div class="checkboxwrapper">
            <ul>
                <li>
                    <input type="checkbox" id="cate1">
                    <label for="cate1">Home Audio & Theater</label>
                </li>
                <li>
                    <input type="checkbox" id="cate2">
                    <label for="cate2">TV & Video</label>
                </li>
                <li>
                    <input type="checkbox" id="cate3">
                    <label for="cate3">Camera, Photo & Accessories</label>
                </li>
                <li>
                    <input type="checkbox" id="cate4">
                    <label for="cate4">Headphones</label>
                </li>
                <li>
                    <input type="checkbox" id="cate5">
                    <label for="cate5">Video Games</label>
                </li>
                <li>
                    <input type="checkbox" id="cate6">
                    <label for="cate6">Bluetooth & Wireless Speakers</label>
                </li>
                <li>
                    <input type="checkbox" id="cate7">
                    <label for="cate7">Gaming Console</label>
                </li>
                <li>
                    <input type="checkbox" id="cate8">
                    <label for="cate8">Computers & Tablets</label>
                </li>
                <li>
                    <input type="checkbox" id="cate9">
                    <label for="cate9">Monitors</label>
                </li>
                <li>
                    <input type="checkbox" id="cate10">
                    <label for="cate10">Home Appliances</label>
                </li>
                <li>
                    <input type="checkbox" id="cate11">
                    <label for="cate11">Office Supplies</label>
                </li>
            </ul>
        </div>
    </div>

    <!-- RECENT POSTS SECTION -->
    <div class="recentpost">
        <h4>Recent Post</h4>
        <div class="blogwrapper">
            <div class="col-md-4">
                <img src="~/Public/images/blog-img-4.jpg" alt="">
            </div>
            <div class="col-md-8">
                <h5>It’s why there’s nothing else like Mac.</h5>
                <span>25 Dec, 2017</span>
                <span>86 Comments</span>
            </div>
        </div>
        <div class="blogwrapper">
            <div class="col-md-4">
                <img src="~/Public/images/blog-img-2.jpg" alt="">
            </div>
            <div class="col-md-8">
                <h5>It’s why there’s nothing else like Mac.</h5>
                <span>24 Dec, 2017</span>
                <span>6 Comments</span>
            </div>
        </div>
        <div class="blogwrapper">
            <div class="col-md-4">
                <img src="~/Public/images/blog-img-6.jpg" alt="">
            </div>
            <div class="col-md-8">
                <h5>It’s why there’s nothing else like Mac.</h5>
                <span>23 Dec, 2017</span>
                <span>23 Comments</span>
            </div>
        </div>
    </div>

    <!-- QUOTE OF THE DAY SECTION -->
    <div class="quote">
        <h4>Quote of the Day</h4>
        <div class="quoteicon">
            <i class="fas fa-quote-left"></i>
        </div>
        <p>The steps you take don't need to be big. They just need to take you in the right direction.</p>
    </div>
</div>
