<div class="col-md-3 sidebar">
    <!-- CATEGORIES SECTION -->
    <div class="categorieswrapper">
        <h3>Categories</h3>
        <div class="checkboxwrapper">
            <ul>
                <li>
                    <input type="checkbox" id="cate1">
                    <label for="cate1">Home Audio & Theater</label>
                </li>
                <li>
                    <input type="checkbox" id="cate2">
                    <label for="cate2">TV & Video</label>
                </li>
                <li>
                    <input type="checkbox" id="cate3">
                    <label for="cate3">Camera, Photo & Accessories</label>
                </li>
                <li>
                    <input type="checkbox" id="cate4">
                    <label for="cate4">Headphones</label>
                </li>
                <li>
                    <input type="checkbox" id="cate5">
                    <label for="cate5">Video Games</label>
                </li>
                <li>
                    <input type="checkbox" id="cate6">
                    <label for="cate6">Bluetooth & Wireless Speakers</label>
                </li>
                <li>
                    <input type="checkbox" id="cate7">
                    <label for="cate7">Gaming Console</label>
                </li>
                <li>
                    <input type="checkbox" id="cate8">
                    <label for="cate8">Computers & Tablets</label>
                </li>
                <li>
                    <input type="checkbox" id="cate9">
                    <label for="cate9">Monitors</label>
                </li>
                <li>
                    <input type="checkbox" id="cate10">
                    <label for="cate10">Home Appliances</label>
                </li>
                <li>
                    <input type="checkbox" id="cate11">
                    <label for="cate11">Office Supplies</label>
                </li>
            </ul>
        </div>
    </div>

    <!-- PRICE SECTION -->
    <div class="pricewrapper">
        <h3>Price</h3>
        <input type="text" id="range">
        <a href="#" class="btn btn-primary">Filter</a>
    </div>

    <!-- FEATURED BRANDS SECTION -->
    <div class="featuredbrands">
        <h3>Featured Brands</h3>
        <div class="checkboxwrapper">
            <ul>
                <li>
                    <input type="checkbox" id="brandcate1">
                    <label for="brandcate1">
                        Apple
                        <span>(217)</span>
                    </label>
                </li>
                <li>
                    <input type="checkbox" id="brandcate2">
                    <label for="brandcate2">
                        Acer
                        <span>(79)</span>
                    </label>
                </li>
                <li>
                    <input type="checkbox" id="brandcate3">
                    <label for="brandcate3">
                        Asus
                        <span>(283)</span>
                    </label>
                </li>
                <li>
                    <input type="checkbox" id="brandcate4">
                    <label for="brandcate4">
                        Samsung
                        <span>(116)</span>
                    </label>
                </li>
                <li>
                    <input type="checkbox" id="brandcate5">
                    <label for="brandcate5">
                        LG
                        <span>(29)</span>
                    </label>
                </li>
                <li>
                    <input type="checkbox" id="brandcate6">
                    <label for="brandcate6">
                        Electrolux
                        <span>(179)</span>
                    </label>
                </li>
                <li>
                    <input type="checkbox" id="brandcate7">
                    <label for="brandcate7">
                        Toshiba
                        <span>(38)</span>
                    </label>
                </li>
                <li>
                    <input type="checkbox" id="brandcate8">
                    <label for="brandcate8">
                        Sharp
                        <span>(205)</span>
                    </label>
                </li>
                <li>
                    <input type="checkbox" id="brandcate9">
                    <label for="brandcate9">
                        Sony
                        <span>(35)</span>
                    </label>
                </li>
                <li>
                    <input type="checkbox" id="brandcate10">
                    <label for="brandcate10">
                        HTC
                        <span>(59)</span>
                    </label>
                </li>
                <li>
                    <input type="checkbox" id="brandcate11">
                    <label for="brandcate11">
                        Lenovo
                        <span>(68)</span>
                    </label>
                </li>
                <li>
                    <input type="checkbox" id="brandcate11">
                    <label for="brandcate11">
                        Sanyo
                        <span>(19)</span>
                    </label>
                </li>
            </ul>
        </div>
    </div>

    <!-- STARS SECTION -->
    <div class="starswrapper">
        <h3>Stars</h3>
        <ul>
            <li>
                <i class="fas fa-star goldstar goldstar"></i>
                <i class="fas fa-star goldstar goldstar"></i>
                <i class="fas fa-star goldstar goldstar"></i>
                <i class="fas fa-star goldstar goldstar"></i>
                <i class="far fa-star graystar"></i>
                <span>(216)</span>
            </li>
            <li>
                <i class="fas fa-star goldstar"></i>
                <i class="fas fa-star goldstar"></i>
                <i class="fas fa-star goldstar"></i>
                <i class="far fa-star graystar"></i>
                <i class="far fa-star graystar"></i>
                <span>(216)</span>
            </li>
            <li>
                <i class="fas fa-star goldstar"></i>
                <i class="fas fa-star goldstar"></i>
                <i class="far fa-star graystar"></i>
                <i class="far fa-star graystar"></i>
                <i class="far fa-star graystar"></i>
                <span>(216)</span>
            </li>
            <li>
                <i class="fas fa-star goldstar"></i>
                <i class="far fa-star graystar"></i>
                <i class="far fa-star graystar"></i>
                <i class="far fa-star graystar"></i>
                <i class="far fa-star graystar"></i>
                <span>(216)</span>
            </li>
        </ul>
    </div>

    <!-- SIZE SECTION -->
    <div class="sizewrapper">
        <h3>Sizes</h3>
        <a href="#">S</a>
        <a href="#">M</a>
        <a href="#">L</a>
        <a href="#">XL</a>
    </div>

    <!-- COLOR SECTION -->
    <div class="colorwrapper">
        <h3>Color</h3>
        <div class="checkboxwrapper">
            <ul>
                <li>
                    <input type="checkbox" id="brandcate1">
                    <label for="brandcate1">Red</label>
                </li>
                <li>
                    <input type="checkbox" id="brandcate2">
                    <label for="brandcate2">Yellow</label>
                </li>
                <li>
                    <input type="checkbox" id="brandcate3">
                    <label for="brandcate3">Brown</label>
                </li>
                <li>
                    <input type="checkbox" id="brandcate4">
                    <label for="brandcate4">Black</label>
                </li>
                <li>
                    <input type="checkbox" id="brandcate5">
                    <label for="brandcate5">Blue</label>
                </li>
                <li>
                    <input type="checkbox" id="brandcate6">
                    <label for="brandcate6">Gray</label>
                </li>
                <li>
                    <input type="checkbox" id="brandcate7">
                    <label for="brandcate7">Pink</label>
                </li>
                <li>
                    <input type="checkbox" id="brandcate8">
                    <label for="brandcate8">White</label>
                </li>
                <li>
                    <input type="checkbox" id="brandcate9">
                    <label for="brandcate9">Green</label>
                </li>
            </ul>
        </div>
    </div>
</div>
